<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1>Welcome to the descendants of Marlane & Don Porter page!</h1>
<ul>
  <li><%= link_to 'List of descendants', descendents_path %></li>
  <li><%= link_to 'Add a new descendant', new_descendent_path %></li>
  <li><%= link_to 'List of missions', missions_path %></li>
  <li><%= link_to 'Add a new mission', new_mission_path %></li>
</ul>