<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
  <%= link_to 'Grandchildren Index', grandchildren_path %>
</nav>

<h1><%= @descendent.full_name %>'s Mission</h1>
<% @missions.each do |mission|  %>
<h3><%= mission.mission_name %></h3>
<p>Language: <%= mission.mission_language %></p>
<p>Country: <%= mission.country %></p>
<p>Number of members baptized: <%= mission.members_baptized %></p>
<p>Was this a foreign mission? <%= mission.foreign_mission? %></p>
[<%= link_to "Edit #{mission.mission_name}'s Mission Info", edit_mission_path(mission), id: "edit_#{mission.id}_link" %>]
[<%= link_to "Delete #{mission.mission_name} Mission", destroy_missions_path(mission), data: {turbo_method: :delete}, id: "delete_#{mission.mission_name}" %>]
<% end %>

<%= form_with url: patch_descendent_missions_path(@descendent, sort: "filter"), method: :patch do |f| %>
<%= f.label "Show missions with more than:" %> 
<%= f.number_field :number %> baptisms
<%= f.submit "Filter" %>
<% end %>

<div>
  <%= link_to 'Create Mission', new_descendent_missions_path %>
  <%= link_to "Sort Alphabetically", descendent_missions_path(@descendent, sort: "mission_name") %>
  <form action="/descendents/<%= @descendent.id %>/missions" method="get">
</div>