<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1><%= @descendent.full_name %>'s Mission</h1>
<% @missions.each do |mission|  %>
<h3><%= mission.mission_name %></h3>
<p>Language: <%= mission.mission_language %></p>
<p>Country: <%= mission.country %></p>
<p>Number of members baptized: <%= mission.members_baptized %></p>
<p>Was this a service mission? <%= mission.service_mission? %></p>
<%= link_to "Edit #{mission.mission_name}'s Mission Info", edit_mission_path(mission), id: "edit_#{mission.id}_link" %>
<% end %>

<%= form_with url: descendent_missions_path, method: :post do |f| %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.submit "Only return records with more than" %>
<% end %>

<div>
  <%= link_to 'Create Mission', new_descendent_missions_path %>
  <%= link_to "Sort Alphabetically", descendent_missions_path(@descendent.id, sort: "mission_name") %>
  <form action="/descendents/<%= @descendent.id %>/missions" method="get">
</div>