<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
  <%= link_to 'Grandchildren Index', grandchildren_path %>
  <%= link_to 'Great-grandchildren', great_grandchildren_path %>
</nav>
<br/>
<%= form_with url: "/missions/:id/" do |f| %>
  <%= f.label :mission_name, 'Mission name:' %>
  <%= f.text_field :mission_name, value: @mission.mission_name %> <br/>
  <%= f.label :mission_language, 'Mission language:' %>
  <%= f.text_field :mission_language, value: @mission.mission_language %> <br/>
  <%= f.label :country, 'Country:' %>
  <%= f.text_field :country, value: @mission.country %> <br/>
  <%= f.label :members_baptized, 'Number of members baptized:' %>
  <%= f.number_field :members_baptized, value: @mission.members_baptized %> </br>
  Foreign mission?
  <% if @mission.foreign_mission == true %>
  <%= f.label :yes, 'Yes' %>
  <%= radio_button_tag :foreign_mission, 'yes', true, :checked => true, :id => "yes" %>
  <%= f.label :no, 'No' %>
  <%= radio_button_tag :foreign_mission, "no", false, :id => "no" %>
  <% else %>
  <%= f.label :yes, 'Yes' %>
  <%= radio_button_tag :foreign_mission, "yes", true, :id => "yes" %>
  <%= f.label :no, 'No' %>
  <%= radio_button_tag :foreign_mission, 'no', false, :checked => true, :id => "no"  %>
  <% end %>
  <%= f.submit "Edit Mission" %>
<% end %>