<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1>These are the list of missions Porters have served in:</h1>
<ul>
  <% @missions.each do |mission| %> 
  <h3><%= mission.mission_name %></h3>
  <li><a href="/missions/<%= mission.id %>">Mission ID: <%= mission.id %></a></li>
  <li>Language spoken: <%= mission.mission_language %></li>
  <li>Country: <%= mission.country %></li>
  <li>Number of members baptized: <%= mission.members_baptized %></li>
  <li>Was this a service mission? <%= mission.service_mission? %></li>
  <li>Descendent ID: <%= mission.descendent_id %></li>
  <li><%= link_to "Edit #{mission.mission_name}'s Mission Info", edit_mission_path(mission), id: "edit_#{mission.id}_link" %></li>
  <br>
  <% end %>
</ul>
