<h1>These are the list of missions Porters have served in:</h1>
<ul>
  <% @missions.each do |mission| %>
  <li><%= mission.mission_name %></li>
  <li><%= mission.mission_language %></li>
  <li><%= mission.country %></li>
  <li><%= mission.members_baptized %></li>
  <li><%= mission.service_mission %></li>
  <% end %>
</ul>