<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1><%= @mission.mission_name %></h1>
<ul>
  <li>Mission Language: <%= @mission.mission_language %></li>
  <li>Mission Country: <%= @mission.country %></li>
  <li>Members baptized: <%= @mission.members_baptized %></li>
  <li>Service mission? <%= @mission.service_mission? %></li>
  <li><%= link_to "Delete", destroy_missions_path(@mission), method: :delete, data: { confirm: 'Are you sure?'}%></li>
</ul>
<p><a href="/missions/<%= @mission.id %>/edit">Edit mission info</a></p>