<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1>These are the list of descendants from Marlane & Don Porter:</h1>
<ul>
  <% @descendents.each do |descendent| %>
  <li><a href="/descendents/<%= descendent.id %>"><%= descendent.full_name%></a> - Created at: <%= descendent[:created_at] %> [<%= link_to "Edit #{descendent.full_name}'s Info", edit_descendent_path(descendent), id: "edit_#{descendent.id}_link" %>]</li>
  <% end %>
</ul>

<p><a href="/descendents/new">New Descendent</a></p>