<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
  <%= link_to 'Grandchildren Index', grandchildren_path %>
</nav>

<h1>These are the list of descendants from Marlane & Don Porter:</h1>
<%= form_with url: descendents_path, method: :get, data: {turbo: :false} do |f| %>
<%= f.label :filter_results_by_first_or_last_name %>
<%= f.text_area :keyword %>
<%= f.submit "Filter" %>
<% end %>
<ul>
  <% @descendents.each do |descendent| %>
    <li><%= link_to "#{descendent.full_name}", show_descendent_path(descendent) %> -
    <%= if current_page?(:sort => "mission_count") 
    "Number of missions: #{descendent.missions_served}"
    end %>
    <ul>
      <li>Created at: <%= descendent[:created_at] %> </li>
      <li>[<%= link_to "Edit #{descendent.full_name}'s Info", edit_descendent_path(descendent), id: "edit_#{descendent.id}_link" %>]</li>
      <li>[<%= link_to "Delete", destroy_descendent_and_missions_path(descendent), data: {turbo_method: :delete}, id: "delete_#{descendent.id}" %>]</li>
    </ul>
  <% end %>
</ul>

<p>
  <%= link_to 'New Descendent', "/descendents/new" %> - 
  <%= link_to 'Sort by number of missions', descendents_path(sort: "mission_count") %> -
</p>