<h1><%= @descendent.full_name %>'s Mission</h1>
<h2><%= @mission.mission_name %></h2>
<p><%= @mission.mission_language %></p>
<p><%= @mission.country %></p>
<p><%= @mission.members_baptized %></p>
<p><%= @mission.service_mission? %></p>